.container-md.emp-profile {
  font-size: 14px; /* Reduce font size for all text */
}

.profile-img img {
  width: 150px; /* Reduce profile image size */
}

.profile-work h2 {
  font-size: 10px; /* Reduce heading size */
}

.profile-work p {
  font-size: 14px; /* Reduce paragraph size */
}

.profile-head h2,
.profile-head h6 {
  font-size: 20px; /* Reduce heading sizes */
}

.profile-tab .table {
  font-size: 14px; /* Reduce table text size */
}

.profile-edit-btn {
  font-size: 14px; /* Reduce button text size */
}
.table{
padding-top: 200px;
}