.sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/Logo4.png');
    background-size: cover;
    background-position: center;
}
.sign-up-form{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(235, 228, 228, 0.1);
}
label{
    display: block;
    margin-bottom: 8px;
}
.forgot1{
    color: white;
}
.sign-up-form{
        width: 350px;
    background-color:  rgba(0, 3, 8, 0.649);
    height: 200px;
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.816);
}
.Send1{
    background: linear-gradient(#081b29,#0ef,#081b29);
    border-radius: 15px;
    width:70px;
    color: black;
    margin-left: 10px;
}
.custom-input {
    border-radius: 30px;
    background-color: black;
    color: #0ef;
    width: 200px;
  }
  
  /* Styling for the input and placeholder */
  